@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* html {
    font-size: 10;
} */

:root {
    font-size: 10px;
}

body {
    font: 1.5rem/1.5 "Noto Sans KR", sans-serif;
    line-height: 1.6;
}

/* font의 위계 */
.main li:hover a {
    color: #fff;
}
/* 1depth, mainmenu */
.main>li>a {
    display: block;
    font-size: 1.6rem;
    color: #999
}

/* 2depth, submenu */
.sub li a {
    font-size: 1.4rem;
    color: #333;
}