

/* 섹션1 */
#s1 {
    position: relative;
    /* display: flex; */
    /* flex-direction: row; */
    /* 주축 가운데 */
    /* justify-content: center; */
    /* 교차축 가운데 */
    /* align-items: center; */
    height: 100vh;
    overflow: hidden;
}
#s1 #clock {
    /* 화면 정가운데 배치 */
    position: absolute;
    right: 2%;
    bottom: 2%;
    /* transform: translate(-50%, -50%); */
}
/* 날짜 디자인 */
.ddate {
    font-size: 2rem;
    margin-bottom: 8px;
}
/* 시간 */
.dtime {
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-shadow: 0 0 5px #999;
    font-family: "HSGaeulSenggak20", sans-serif;
}
/* span의 크기를 지정하여 움직임 방지 */
#s1 #clock .dtime span {
    display: inline-block;
    width: 50px;
}
/* 시간 */
.dtime span:not(:last-child)::after {
    content: " :";
}