@charset "utf-8";
@import url(reset.css);
@import url(typo.css);

/* 공통 */
.inner {
    width: 1120px;;
    margin: 0 auto;
}

/* 섹션2 */
#s2 {
    padding: 96px 0 120px;
}
#s2>.inner>h2 {
    text-align: center;
}
#s2>.inner>h2+p {
    text-align: center;
}
#s2 #tabs ul {
    display: flex;
}
#s2 #tabs>div a {
    display: block;
    width: 222px;
    height: 168px;
}
#s2 #tabs>div a.rank1 {
    width: 570px;
    height: 432px;
}
