@charset "utf-8";
@import url('reset.css');
@import url('common.css');

/* 공통영역: 폰, 테블릿, 데스크탑 */
html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    z-index: 11;
    width: 100%;
    display: flex;
    justify-content: space-between;
    

}

/* 768이상: 테블릿, 데스크탑 */
@media (min-width: 768px) {}

/* 992이상: 데스크탑 */
@media (min-width: 992px) {}