@charset "utf-8";
@import url(reset.css);

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.2rem;
    border: 1px solid red;
}
a,ul,li {
    font-size: 15px;
    font-weight: 500;
    color: #292929;
}
header h1 img {
    vertical-align: middle;
}
/* 헤더 */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 100px;
    margin: 0 auto;
}

/* 1depth */
.main {
    display: flex;
}
.main>li {
    height: 50px;
    text-align:center;
    /* line-height: 100px; */
    padding: 0 30px;
}
.main>li>a {
    display: block;
    padding: 16px 24px;
}
.main>li a:hover {
    color: #009132;
}

/* 2depth */
.sub {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    line-height: 2;
    transition: .3s;
}
.main:hover .sub {
    height: 200px;
    visibility: visible;
    opacity: 1;
}