@charset "utf-8";
@import url(./reset.css);
@import url(./temp.css);


.tab-container{
	background-color: #fff;
}
.tab-container h2 {
    text-align: center;
}
.tab-container h1 {
    text-align: center;
}
.tab-menu h1 {
    /* margin-bottom: 2%; */
    margin-right: 6%;
    
}
.tab-menu li {
    line-height: 3;
}

/* .tab-menu{} */
.tab-menu ul{
	margin: 0;
	padding: 0;
}
.tab-menu ul li{
	list-style-type: none;
	display: inline-block;
}
.tab-menu ul li a{
	text-decoration: none;
	color: rgba(0,0,0,0.4);
	/* background-color: #b4cbc4; */
	padding: 7px 25px;
	border-radius: 4px;
}
.tab-menu ul li a.active-a{
	/* background-color: #588d7d; */
    text-decoration: underline #009132;
	color: #009132;
}
.tab{
    /* width: 100vww; */
	display: none;
}
.tab h2{
	color: rgba(0,0,0,.5);
}

.tab-active{
	display: block;
}

@media (min-width: 768px) {
    
}

/* pc */
@media (min-width: 960px) {
    .tab-container{
        margin: 5% 18%;
    }
    .tab-container .menuimg {
        /* justify-content: space-between; */
        text-align: center;
    }
    .tab-menu div {
        display: flex;
    }
    .menuimg img {
        width: 14vw;
        height: 100%;
    }
    .menuimg {
        display: flex;
        flex-wrap: wrap;
    }
    .menuimg a:not(:nth-of-type(4n)) {
        margin-right: 2%;
    }
}