@charset "utf-8";
@import url(reset.css);

/* 폰트 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
body {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 1.2rem;
    border: 1px solid red;
}
a,ul,li {
    font-size: 15px;
    font-weight: 500;
    color: #292929;
}
#header h1 img {
    vertical-align: middle;
}


/* 헤더 */
/* 공통 */
#header .main>li a:hover {
    color: #009132;
}
#header .gnb {
    background: #fff;
}
/* #header .gnbWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

/* 폰 */

/* 모바일 버튼 */
#header .mobile-menu {
    display: inline-block;
    /* background: #000; */
    /* width: 12px; */
    /* height: 2px; */
    position: absolute;
    top: 10px;
    right: 0;
}
#header .mobile-menu .menu-burger .burger__bar1, #header .mobile-menu .menu-burger .burger__bar2, #header .mobile-menu .menu-burger .burger__bar3 {
    width: 35px;
    height: 5px;
    margin: 8px 10px;
    background-color: #000;
    cursor: pointer;
}

/* #header .gnb {
    z-index: -1;
    position: absolute;
    top: 0;
    right: -65%;
    width: 65%;
    height: 100vh;
    background: red;
    transition: .3s ease-in-out;
} */
/* #header .gnb {
    display: none;
} */



/* 테블릿 */
@media (min-width: 768px) {
    
}

/* 데스크탑 */
@media (min-width: 992px) {
    
#header .gnb {
    display: flex;
    justify-content: center;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 0 80px; */
    padding: 0 4vw;

    height: 100px;
    width: 100%;
    margin: 0 auto;
}

/* 1depth */
#header .main {
    display: flex;
}
#header .main>li {
    height: 50px;
    text-align: center;
    /* line-height: 100px; */
    /* padding: 0 30px; */
    /* line-height: 30px; */
}
#header .main>li>a {
    display: flex;
    justify-content: space-between;

    display: block;
    padding: 20px 2vw;
    text-wrap: nowrap;
}



/* 2depth */
#header .sub {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    height: 0;
    padding: 20px 0 0px 0;
    line-height: 2.5;
    transition: .5s;
}
#header .main:hover .sub {
    height: 200px;
    visibility: visible;
    opacity: 1;
}
#header .sub li a {
    padding: 4px 0px 16px 0vw;
    /* text-wrap: nowrap; */
    text-align: left;
}
#header .gnb {
    position: relative;
}
#header .gnb .main::before {
    content: "";
    width: 1920vw;
    top: 75px;
    right: 0;
    position: absolute;
    display: block;
    z-index: -1;
    right: -871vw;
    /* width: 100%; */
    transition: .5s;
    background: #6b6565b0;
}
#header .gnb .main:hover::before {
    height: 300px;
    opacity: 1;
}

/* util menu */
#header .util_menu ul {
    /* padding: 0 30px 0 100px; */
    display: flex;
    padding-right: 1.5vw;
}
#header .util_menu ul li a {
    padding: 0 5px;
    border: 1px solid lightslategray;
    text-wrap: nowrap;
}
#header .mobile-menu {
    display: none;
}
}