@charset "utf-8";
/* reset */
*{
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li {
    list-style:none;
}
img {
    width: 100%;
    display:block;
}

/* wrap */
#wrap {
    width: 100%;
}

/* main */
#main {
    width: 100%;
    height: calc(100vh - 120px);
    display:flex;
}

/* header */
#header {
    width: 200px;
    height: 100%;
    background-color: #ffe5ef;
}
#header .logo {
    width: 100%;
    text-align: center;
}
#header .logo a {
    padding: 24px;
    display: block;
    color:#b40000;
}
#header .nav {
    width: 100%;
    height: 90%;
    position: relative;
    z-index: 1000;
}
#header .nav>ul>li {
    text-align: center;
    position: relative;
}
#header .nav>ul>li>a {
    padding: 10px;
    display: inline-block;
    background-color: #ff6d6d;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
}
#header .nav>ul>li>a:hover {
    background-color: #ff8888;
}
#header .nav>ul>li>ul {
    position: absolute;
    right: -200px;
    top: 0;
    width: 200px;
    display: none;
}
#header .nav>ul>li>ul>li a {
    padding: 10px;
    display: inline-block;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
}
#header .nav>ul>li>ul>li a:hover {
    background-color: #ffa9a9;
}

/* contents */
#contents {
    width: 400px;
}
#contents .banner {
    width: 100%;
    height: 15%;
    background-color: #d9d9d9;
}
#contents .notice {
    width: 100%;
    height: 35%;
    background-color: #d1d1d1;
}
#contents .gallery {
    width: 100%;
    height: 35%;
    background-color: #c7c7c7;
}
#contents .link {
    width: 100%;
    height: 15%;
    background-color: #bcbcbc;
}

/* contents banner */
#contents .banner {
    width: 100%;
    height: 15%;
    background: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#contents .banner h3 {
    color: #ffefef;
    font-size: 24px;
}
#contents .banner a {
    color: #fff;
    background-color: #ff6d6dc1;
    padding: 10px 20px;
    border-radius: 40px;
    margin-left: 10px;
}
#contents .banner a:hover {
    background-color: #ff6d6d;
}

/* contents: notice */
#contents .notice {
    width: 100%;
    height: 35%;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#contents .notice h3 {
    background-color: #ff6d6d;
    color: #fff;
    padding: 4px 10px;
    margin-bottom: 10px;
}
#contents .notice li {
    display: flex;
    position: relative;
    padding-left: 10px;
    line-height: 1.6;
}
#contents .notice li:before {
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ff6d6d;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 50%;
}
#contents .notice li a {
    width: 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#contents .notice li a:hover {
    text-decoration: underline;
}
#contents .notice li span {
    width: 30%;
    text-align: right;
}
#contents .notice .more {
    position: absolute;
    right: 26px;
    top: 26px;
    color: #fff;
}

/* contents .gallery */
#contents .gallery {
    width: 100%;
    height: 35%;
    background-color: #ffecec;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}
#contents .gallery h3 {
    background-color: #ff6d6d;
    color:#fff;
    padding: 4px 10px;
    margin-bottom: 10px;
}
#contents .gallery ul {
    display: flex;
    justify-content: space-between;
}
#contents .gallery li {
    width: 110px;
    height: 150px;
    background-size: cover;
}
#contents .gallery li:nth-child(1){
    /* background-image: url(); */
    background: lightcoral;
}
#contents .gallery li:nth-child(2) {
    background: lightcyan;
}
#contents .gallery li:nth-child(3) {
    background: lightgoldenrodyellow;
}
#contents .gallery li a {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
#contents .gallery li a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}
#contents .gallery .more {
    position: absolute;
    right: 26px;
    top: 26px;
    color: #fff;
}

/* contents: link */
#contents .link {
    width: 100%;
    height: 15%;
    overflow: hidden;
}
#contents .link h3 {
    width: 1px;
    height: 1px;
    overflow: hidden;
    text-indent: -9999px;
}
#contents .link ul {
    display: flex;
    padding: 0 10px;
}
#contents .link li {
    width: 25%;
    padding: 5%;
    box-sizing: border-box;
    text-align: center;
}
#contents .link li:hover a span {
    color: #ff6d6d;
}

/* slider */
#slider {
    width: calc(100% - 600px);
    height: 100%;
    background-color: #b1b1b1;
}

/* footer */
#footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
#footer .footer1 {
    width: 200px;
    height: 120px;
    background-color: #a3a3a3;
}
#footer .footer2 {
    width: calc(100% - 400px);
}
#footer .footer2 .footer2-1 {
    width: 100%;
    height: 60px;
    background-color: #9d9d9d;
}
#footer .footer2 .footer2-2 {
    width: 100%;
    height: 60px;
    background-color: #929292;
}
#footer .footer3 {
    width: 200px;
    height: 120px;
    background-color: #838383;
}