@charset "utf-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}

/* wrap */
#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* aside */
#aside {
    width: 200px;
}
#aside .logo {
    width: 100%;
    height: 100px;
    background: #efefef;
}
#aside .nav {
    height: 550px;
    background: #e3e3e3;
}

/* main */
#main {
    width: calc(100% - 200px);
}

/* slider */
#slider {
    width: 100%;
    display: flex;
}
#slider .image {
    width: calc(100% - 230px);
    height: 400px;
    background: #d9d9d9;
}
#slider .banner {
    width: 230px;
    height: 400px;
    background: #d1d1d1;
}

/* contents */
#contents {
    width: 100%;
    display: flex;
}
#contents .notice {
    width: 50%;
    height: 250px;
    background: #c7c7c7;
}
#contents .gallery {
    width: 50%;
    height: 250px;
    background: #bcbcbc;
}

/* footer */
#footer {
    width: 100%;
    display: flex;
}
#footer .footer1 {
    width: 20%;
    height: 100px;
    background: #b1b1b1;
}