@charset "utf-8";

/* reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: #333;
}
a {
    text-decoration: none;
    color: #333;
}
li{
    list-style: none;
}
img {
    width: 100%;
    vertical-align: top;
}

/* wrap */
#wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

/* aside */
#aside {
    width: 200px;
    height: 650px;
}
#aside .logo {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #efefef;
}
#aside .logo a {
    display: block;
    font-size: 26px;
    margin-top: 5px;
}
#aside .nav {
    height: 550px;
}
#aside .nav>ul {
    margin: 5px;
}
#aside .ul>li {
    margin-bottom: 5px;
}
#aside .nav>ul>li>a {
    padding: 10px;
    display: inline-block;
    background: #ffd139;
    width: 100%;
    text-align: center;
    border: 2px solid #dead0c
}
#aside .nav>ul>li>ul {
    display: none;
}
#aside .nav>ul>li>ul>li a {
    display: block;
    padding: 10px;
    background: #ffebab;
    text-align: center;
    border-bottom: 2px solid #dead0c;
}
#aside .nav>ul>li>ul>li a:hover {
    background: #ffe281;
}

/* main */
#main {
    width: calc(100% - 200px);
}

/* slider */
#slider {
    width: 100%;
    display: flex;
    overflow: hidden;
}
#slider .image {
    width: calc(100% - 230px);
    height: 400px;
}
#slider .banner {
    width: 230px;
    height: 400px;
    background: #d1d1d1;
}

/* contents */
#contents {
    width: 100%;
    display: flex;
}
#contents .notice {
    width: 50%;
    height: 250px;
    background: #c7c7c7;
}
#contents .gallery {
    width: 50%;
    height: 250px;
    background: #bcbcbc;
}

/* footer */
#footer {
    width: 100%;
    display: flex;
}
#footer .footer1 {
    width: 20%;
    height: 100px;
    background: #b1b1b1;
}
#footer .footer2 {
    width: 60%;
    height: 100px;
    background: #a3a3a3;
}
#footer .footer3 {
    width: 20%;
    height: 100px;
    background: #9d9d9d;
}